*{
    padding: 0;
    
}
.image{
    width: 250px;
    height: 240px;
    display: inline-block; 
    position: relative; 
    overflow: hidden; 
    border-radius: 100%; 
    } 
    .image img 
    { 
        width: 100%; 
        height: 100%; 
        margin-left: 0px;
}

.main{
    display: flex;
    flex-direction: row;
    gap:15rem;
    margin-left:130px;
    margin-top: 70px;
}
 .main2{
    display: flex;
    flex-direction: column;
    gap:4px;
 }
 .first{
    display: flex;
    flex-direction: row;
    gap:50px
 }
 .second{
    display: flex;
    flex-direction: row;
    gap:50px
 }
 .highlight{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 40px;
    margin-left: 9rem;

 }
 .highlight .highlight-name p{
   font: 0.8em sans-serif;;
 }

 .photo p{
    
    text-align: center;
 }

 .photo{
    display: flex;
    flex-direction: column;
    
 }
 .image1{
    width: 110px;
    height: 100px;
    display: inline-block; 
    position: relative; 
    overflow: hidden; 
    border-radius: 100%; 
    gap: 20px;
 }
.image1 img{
        width: 100%; 
        height: 100%; 
        margin-left: 0px;
}
.menu{
   display: flex;
   flex-direction: row;
   gap:100px;
   margin-left: 27rem;
   margin-top: 50px;
}
.menu .post{
   display: flex;
   flex-direction: row;
   gap: 8px;
}
.menu .saved{
   display: flex;
   flex-direction: row;
   gap: 8px;
}
.menu .tagged{
   display: flex;
   flex-direction: row;
   gap: 8px;
}
.menu .reels{
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.post .posts-picture a{
   text-decoration: none;
   color: black;

}
.post .posts-para p{
   text-align: center;
   margin-top: 0px;
}

.reels .reels-picture a{
   text-decoration: none;
   color: black;
}
.reels .reels-para p{
   text-align: center;
   margin-top: 0px;
}

.saved .saved-para p{
   text-align: center;
   margin-top: 0px;
}
.tagged .tagged-para p{
   text-align: center;
   margin-top: 0px;
}

.saved .saved-picture a{
   text-decoration: none;
   color: black;
}

.tagged .tagged-picture a{
   text-decoration: none;
   color: black;
}

.post1{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   margin-left: 15px;
   margin-top: 40px;
   margin-bottom: 100px;
   

}
.post1 .post-images{
   width: 410px;
   height: 340px;
}
.post1 .post-images img{
   width: 100%;
   height: 100%;
}